* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

:root {
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/*---------- navigation---------- */

.header {
  background: #ffffff;
  border-bottom: 1px solid #e7e9fc;
  /* width: 1440px;
  height: 72px; */
  /* padding-top: 24px;
  padding-bottom: 24px; */
}
.header-conteiner {
  display: flex;
  align-items: center;
}

.navigation {
  align-items: center;
  display: flex;
}

.navigation-link:hover,
.navigation-link:focus {
  color: #404bbf;
}

.navigation-contacts:hover,
.navigation-contacts:focus {
  color: #404bbf;
}

.logo-in-header {
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;

  /* line-height: 21px; */
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.logo-two-part-in-header {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;

  /* line-height: 21px; */
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
.navigation-menu-lists {
  display: flex;
  list-style: none;
  gap: 40px;
}

.header-contacts {
  font-style: normal;
  margin-left: auto;
}

.navigation-contact-lists {
  display: flex;
  gap: 40px;
}
.navigation-link {
  text-decoration: none;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.navigation-item {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
}

.navigation-contacts {
  font-style: normal;
  text-decoration: none;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  display: inline-block;
  padding: 24px 0;
}

/* -------------------HERO-------------- */

.hero {
  padding: 188px 0;
  background: #2e2f42;
}



.hero-titel {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 56px;

  /* line-height: 60px; */
  line-height: 1.07143;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin-bottom: 48px;
  max-width: 496px;
  align-items: center;
  flex-shrink: 0;
}

.hero-btn {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;

  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  height: 56px;
  padding: 16px 32px;
  display: block;
  margin: 0 auto;
  min-width: 216px;
  height: auto;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}
/* ---------features------- */

.features {
  padding: 120px 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.features-list {
  display: flex;
  gap: 24px;
}
.features-item {
  width: calc((100% - 72px) / 4);
}
.features-subtitle {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;

  /* line-height: 24px; */
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.features-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* ------------TEAM ----------*/
.team {
  padding: 120px 0;
  box-sizing: border-box;
  background: #f4f4fd;
}
.team-titel {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px;

  /* line-height: 40px; */
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;

  text-align: center;
  max-width: 162px;
  margin: 0 auto;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 24px;

  list-style: none;
  margin: 0;
  display: flex;
  border-radius: 0 0 4px 4px; */
  padding: 0px 0px 32px;
  padding: 0;
  box-sizing: border-box;
}

.team-item {
  border-radius: 0 0 4px 4px;
  overflow: hidden;
  width: calc((100% - 72px) / 4);
  background-color: #ffffff;
}
.team-img {
  background: #ffffff;
}

.container-subtitei-text {
  padding: 32px 16px;
}

.team-subtitel {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;

  
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  padding-bottom: 8px;
}
.team-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;

  line-height: 24px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

/*------------------------- PORNFOLIO-------------------- */

.portfolio {
  padding: 120px 0;
}
.portfolio-titel {
  margin-bottom: 72px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px;

  
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  /* padding-top: 120px;
  padding-bottom: 72px; */
}
.portfolio-list {
  list-style: none;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  display: flex;
  column-gap: 24px;
  row-gap: 48px;
}

.container-portfolio-subtitel-text {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
}
.portfolio-subtitel {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;

 
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
    margin-bottom: 8px;
}
.portfolio-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;

  
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* --------------------footer-------------- */

.footer {
  padding: 100px 0;
  background-color: #2e2f42;
}

.footer-logo-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: baseline;
}

.container-footer-logo {
  padding-bottom: 16px;
}
/* padding: 100px 1020px 100px 156px; */
.footer-logo {
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;

  
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.footer-logo-two {
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;

  /* line-height: 21px; */
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.footer-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  /* padding-top: 16px; */
}
