body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

:root {
  font-family: 'Roboto', sans-serif;
}

/*---------- navigation---------- */

.header {
  background: #ffffff;
  /* border-bottom: 1px solid #e7e9fc;
  width: 1440px;
  height: 72px; */
}
.header-conteiner {
  display: flex;
  align-items: center;
}

.navigation {
  align-items: center;
  display: flex;
}

.navigation-link:hover,
.navigation-link:focus {
  color: #404bbf;
}

.navigation-contacts:hover,
.navigation-contacts:focus {
  color: #404bbf;
}

.hero-btn {
  cursor: pointer;
}

.logo-in-header {
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;

  /* line-height: 21px; */
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.logo-two-part-in-header {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;

  /* line-height: 21px; */
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
.navigation-menu-lists {
  display: flex;
  list-style: none;
  gap: 40px;
}

.header-contacts {
  margin-left: auto;
}

.navigation-contact-lists {
  display: flex;
  gap: 40px;
}
.navigation-link {
  text-decoration: none;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.navigation-item {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
}

.navigation-contacts {
  font-style: normal;
  text-decoration: none;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* -------------------HERO-------------- */

.hero {
  background: #2e2f42;
}

.hero-titel {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 56px;

  /* line-height: 60px; */
  line-height: 1.07143;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}
.hero-btn {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;

  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}
/* ---------features------- */

.features {
}
.features-titel {
}
.features-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.features-item {
}
.features-subtitle {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;

  /* line-height: 24px; */
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.features-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* ------------TEAM ----------*/
.team {
  background: #f4f4fd;
}
.team-titel {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px;

  /* line-height: 40px; */
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  background-color: #ffffff;
  text-align: center;
}
.team-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.team-item {
  background-color: #ffffff;
}
.team-img {
  /* border-radius: 0 0 4px 4px;
  padding: 0px 0px 32px;
  width: 264px;
  height: 356px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #ffffff; */
}
.team-subtitel {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;

  /* line-height: 24px; */
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.team-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}
/* -------------------PORTFOLIO--------------- */

.portfolio {
}
.portfolio-titel {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px;

  /* line-height: 40px; */
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.portfolio-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.portfolio-item {
}
.portfolio-subtitel {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;

  /* line-height: 24px; */
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portfolio-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* --------------------footer-------------- */

.footer {
  background: #2e2f42;
}

.footer-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.footer-logo {
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;

  /* line-height: 21px; */
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.footer-logo-two {
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;

  /* line-height: 21px; */
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
